body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #333;
    background-color: #eee;
    /* height: 200vh; */
    padding: 0;
    margin: 0;
}

header, footer {
    font-size: 0.9rem;
}

header {
    background-color: #25b438;
    color: #eee;
    padding: 5px;    
}

.titulo {
    background-color: #334;
    color: #eee;
    padding: 1rem;
}

h1 {
    font-size: 1.6rem;
    margin: 0;
}

/* h2 {
    margin: 0;
} */

h3 {
    margin-top: 3rem;
}

a {
    font-size: 0.9rem;
    color: #267ac5;
    text-decoration: none;
}

a:hover {
    color: #334;
}

a.volver {
    display: block;
    margin-top: 2rem;
}

.titulo > p {
    color: #bbc;
    margin: 0.2rem;
}

footer {
    background-color: #ccc;
    color: #667;
    margin-top: 5rem;
    padding: 5px;
}

.mensaje {
    font-size: 14px;
    color: #267ac5;
    border: 1px solid #267ac5;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    margin: 1rem;
    display: inline-block;
}

.btn-cerrar {
    font-size: small;
    color: #333;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 20px;
}

.btn-cerrar:hover {
    color: #eee;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 20px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px; /*500px*/
    margin: 2rem auto;
}

/* .lista-ladrillos {
    margin-top: 2rem;
} */

select {
    height: 2rem;
    border-radius: 5px;
    padding-left: 6px;
    border: 1px solid;
}

input {
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid;
    cursor: pointer;
}

.inputs span {
    margin-left: 1rem;
}

section {
    margin: 0.5rem 0;
}

.ocultar {
    display: none;
}

nav {
    background-color: #334;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10%; */
    margin-bottom: 2rem;
}

.fa-cart-shopping {
    color: #fff;
    font-size: 2rem;
}

.fa-cart-shopping:hover {
    color: #25b438;
}

.fa-triangle-exclamation {
    padding-right: 5px;
    color: #fa0;
}

.carrito-icon {
    position: absolute;
    right: 10%;
}

.grilla-productos {
    display: inline-block;
    width: 100%;
    /* gap: 10px; */
}

.producto > img {
    max-width: 70%;
}

.producto {
    width: 170px;
    height: 290px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 5px 8px #0001;
    display: inline-block;
}

label {
    display: block;
    height: 2rem;
}

section.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

section.productos.carrito {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.sku {
    font-size: 0.8rem;
    color: #99a;
}

.precio {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 20px 0;
}

.contenedor.carrito .producto {
    width: 170px;
    height: 220px;
}

.btn-calcular {
    margin: 20px 0;
}

.btn-calcular input {
    width: 8rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #25b438;
    color: #fff;
    border: none;
}

.btn-calcular input:hover {
    background-color: #13c22b;
}

section.calcular {
    margin-top: 3rem;
}